@keyframes hero-animation {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -192px;
    }
}

@keyframes enemy-animation {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -192px;
    }
}

@keyframes enemy-big-animation {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -384px;
    }
}

@keyframes chest-animation {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -96px;
    }
}

@keyframes trap-animation {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -384px;
    }
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 